// This file is empty within the template
// You can use it to override CSS from within your project
a, .content a {
    color: #0aa8a7;
    border-bottom: 1px dotted #ececec;
}

a:hover, .content a:hover {
    color: #0aa8a7;
    border-bottom: 1px solid #ececec;
}

.card a, .navbar a, a.post-title {
    border: none;
}

.time{ width:12% }

.author{ width:25% }

.notice {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-first {
    padding-top: 20px;
}

.banner {
    padding: 50px 0 50px;
}

.navbar-nav {
    flex-direction: row;
}

.btn {
    text-transform: none;
}

ol.breadcrumb {
    background: none;
}

.breadcrumb a {
    color: $primary-color;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.mh-300 {
    max-height: 300px;
}

.mh-150 {
    max-height: 150px;
}

.h-150 {
    height: 150px;
}

.contributor {
    width: 50px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 17px;
    display: inline;
}

.navbar-expand-lg .navbar-nav .nav-with-toggle {
    padding-right: 3px;
}

.dropdown-toggle {
    padding-right: 7px;
}

.banner-head {
    padding-bottom: 0;
}

.mailing-box {
    background: #fff;
    padding: 15px 30px;
    border-radius: 15px;
}

.logo-home {
    max-height: 200px;
    float: right;
}
[class*=" ti-"], [class^=ti-] {
    vertical-align: -10%;
}