// This file is empty within the template
// You can use it to override CSS from within your project

.time{ width:12% }

.author{ width:25% }

.notice {
    padding-top: 20px;
    padding-bottom: 20px;
}

.banner {
    padding: 50px 0 50px;
}

.navbar-nav {
    flex-direction: row;
}

.btn {
    text-transform: none;
}

ol.breadcrumb {
    background: none;
}

.breadcrumb a {
    color: $primary-color;
}

.section {
    padding-top: 30px;
}

.contributor {
    width: 50px;
}