/*  typography */
@font-face {
  font-family: 'PT Sans';
  src: url('/fonts/PTSans-Regular.eot');
  src: url('/fonts/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/PTSans-Regular.woff2') format('woff2'),
      url('/fonts/PTSans-Regular.woff') format('woff'),
      url('/fonts/PTSans-Regular.ttf') format('truetype'),
      url('/fonts/PTSans-Regular.svg#PTSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('/fonts/PTSans-BoldItalic.eot');
  src: url('/fonts/PTSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/PTSans-BoldItalic.woff2') format('woff2'),
      url('/fonts/PTSans-BoldItalic.woff') format('woff'),
      url('/fonts/PTSans-BoldItalic.ttf') format('truetype'),
      url('/fonts/PTSans-BoldItalic.svg#PTSans-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('/fonts/PTSans-Italic.eot');
  src: url('/fonts/PTSans-Italic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/PTSans-Italic.woff2') format('woff2'),
      url('/fonts/PTSans-Italic.woff') format('woff'),
      url('/fonts/PTSans-Italic.ttf') format('truetype'),
      url('/fonts/PTSans-Italic.svg#PTSans-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  src: url('/fonts/PTSans-Bold.eot');
  src: url('/fonts/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/PTSans-Bold.woff2') format('woff2'),
      url('/fonts/PTSans-Bold.woff') format('woff'),
      url('/fonts/PTSans-Bold.ttf') format('truetype'),
      url('/fonts/PTSans-Bold.svg#PTSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  line-height: 1.2;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: $text-color;
}

p,
.paragraph {
  font-weight: 400;
  color: $text-color;
  font-size: 16px;
  line-height: 1.7;
  font-family: $primary-font;
}

small {
  font-size: 88%;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: $text-color-dark;
  font-family: $primary-font;
  font-weight: 700;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 48px;

  @include tablet {
    font-size: 40px;
  }
}

h2,
.h2 {
  font-size: 38px;

  @include tablet {
    font-size: 30px;
  }
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 20px;
}

h5,
.h5 {
  font-size: 16px;
}

h6,
.h6 {
  font-size: 15px;
}

.display-3{
  font-size: 3.5rem;
}