<div class="container">

<ol class="breadcrumb">
  {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
</ol>
{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
{{ else if not .p1.IsHome }}
{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
{{ end }}
<li class="breadcrumb-item">
  {{ if eq .p1 .p2 }} 
  {{ .p1.Title | truncate 30 }}
  {{ else }}
  <a href="{{ if eq .p1.CurrentSection.Title .p1.FirstSection.Title }}{{ replaceRE "/ru/|/de/|/fr/|/it/|/ja/|/zh/|/es/" "/" .p1.Permalink }}{{ else }}{{ .p1.Permalink }}{{ end }}">{{ .p1.Title }}</a>
  {{ end }}
</li>
{{ end }}
</div>
