{{ "<!-- navigation -->" | safeHTML }}
<header class="navigation">
  <div class="container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <a class="navbar-brand" href="{{ site.BaseURL }}">
        <img width="{{ site.Params.logo_width}}" class="img-fluid" src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}">
      </a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
        <i class="ti-menu"></i>
      </button>

      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav mx-auto">
          {{ range site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link nav-with-toggle" href="{{ .URL | absURL }}"{{ with .Pre }} target="{{ . }}"{{ end }}>{{ .Name }}</a>
            <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"></a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL | absURL }}"{{ with .Pre }} target="{{ . }}"{{ end }}>{{ .Name }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | absURL }}"{{ with .Pre }} target="{{ . }}"{{ end }}>{{ .Name }}</a>
          </li>
          {{ end }}
          {{ end }}
        </ul>
        <a href="{{ "slack" | absURL }}" class="btn btn-sm btn-primary ml-1" target="_blank"><i class="ti-comments pr-2"></i>{{ T "join_slack" }}</a>
        {{ if .IsDescendant (index (where .Site.Pages "CurrentSection.Title" "Learning Path") 0) }}
        <select id="langpicker" class="selectpicker" data-style="btn-light btn-sm ml-3" data-width="fit">
          <option>{{ .Site.Language.LanguageName }}</option>
          {{ range .Translations }}
          <option value="{{ .Permalink }}">{{ .Language.LanguageName }}</option>
          {{ end }}
        </select>        
        {{ end }}
      </div>
    </nav>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}
<section class="notice bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 text-center">
        <i class="ti-calendar mr-2"></i>Join us for our last Community Call of 2022 on December 14th 9am GMT / 10am CET / 2.30pm IST / 8pm AEDT
        -  <a href="https://bit.ly/ISCEoY22" class="btn-link ml-1" target="_blank"> ISC End of Year community call <i class="ti-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section> 

<!--
<section class="notice bg-primary text-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 text-center">
        <a class="text-light" target="_blank" href="/events/isc-2022">Save the Dates for InnerSource Summit 2022</a>
      </div>
    </div>
  </div>
</section>
-->