<aside
  class="will-change-transform transform transition-transform -translate-x-full absolute top-0 left-0 md:relative md:translate-x-0 w-3/4 md:basis-60 h-full min-h-screen p-3 bg-slate-50 dark:bg-slate-800 border-r border-slate-200 dark:border-slate-700 flex flex-col gap-2.5 z-20 sidebar flex-shrink-0">
  {{ $permalink := cond (eq (len .RelPermalink) 1) .RelPermalink (strings.TrimRight "/" .RelPermalink) }}
  <ul class="list-none flex flex-col gap-1">
    {{ range .Site.Menus.main }}
    <li>
      <a class="px-2 py-1.5 rounded-md text-sm flex items-center justify-between {{ if .Params.Header }} text-slate-400 font-semibold pb-0 pl-1 border-b cursor-default pointer-events-none {{ else if eq .URL $permalink }} bg-slate-800 text-white dark:bg-slate-50 dark:text-slate-800 dark:selection:bg-slate-400 {{ else }} hover:bg-slate-200 dark:hover:bg-slate-700 {{ end }}"
        href="{{ if .URL }}{{ .URL }}{{ else }}#{{ end }}" {{ if strings.HasPrefix .URL "http" }} target="_blank"
        rel="noopener" {{ end }}>
        <span>{{ .Name }}</span>
        {{ if strings.HasPrefix .URL "http" }}
        <span>
          {{- partial "icon/externalIcon.html" . -}}
        </span>
        {{ end }}
      </a>
    </li>
    {{ end }}
  </ul>

  <div class="flex-1"></div>

</aside>

