{{ define "main" }}

{{ partial "breadcrumbs.html" . }}
{{ partial "page-header.html" . }}

{{ $pages := .Data.Pages }}
{{ $pages = where $pages "Section" "in" "events" }}
<section class="section">
  <div class="container">
    <div class="row">
      {{ range where $pages ".Date.Unix" ">=" now.Unix }}
      <div class="col-12 mb-5 pb-5">
        <div class="row align-items-center">
          <div class="col-md-6 mb-4 mb-md-0">
            <a href="{{ default .Permalink .Params.redirect }}"{{ with .Params.target }} target="{{ . }}"{{ end }}>
              <img src="{{ .Params.image | absURL }}" alt="{{.Title}}" class="img-fluid rounded-lg w-100">
            </a>
          </div>
          <div class="col-md-6">
            <h2><a href="{{ default .Permalink .Params.redirect }}"{{ with .Params.target }} target="{{ . }}"{{ end }} class="post-title">{{ .Title }}</a></h2>
            <p class="card-text">{{ .Summary }}</p>
            <a href="{{ default .Permalink .Params.redirect }}"{{ with .Params.target }} target="{{ . }}"{{ end }} class="btn btn-primary">Register Now</a>
          </div>
        </div>
      </div>
      {{ else }}
      <div class="col-md-12 text-center mb-4">
        No future events are planned currently. <a href="../about/contact/">Want to host one?</a>
      </div>
      {{ end }}
      <div class="container text-center pb-4 mb-4">
        <h3 class="display-4">Past Events</h2>
      </div>
      {{ range where $pages ".Date.Unix" "<" now.Unix }}
      <div class="col-lg-4 col-sm-6 mb-5 event-card">
        <div class="card border-0">
          <a href="{{ default .Permalink .Params.redirect }}"{{ with .Params.target }} target="{{ . }}"{{ end }}>
            <img src="{{ .Params.image | absURL }}" alt="{{ .Title }}" class="card-img rounded-lg mb-4">
          </a>
          <div class="card-body p-0">
            <h3><a href="{{ default .Permalink .Params.redirect }}"{{ with .Params.target }} target="{{ . }}"{{ end }} class="post-title">{{ .Title }}</a></h3>
            <p class="card-text event-card-text">{{ .Summary }}</p>
            <a href="{{ default .Permalink .Params.redirect }}"{{ with .Params.target }} target="{{ . }}"{{ end }} class="btn btn-primary btn-sm">Open Event</a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
