{{ define "main" }}
{{ partial "breadcrumbs.html" . }}
{{ partial "page-header.html" . }}

<section class="section">
  <div class="container">
    <div class="row">
      {{ range .Data.Pages.ByDate.Reverse }}
      <div class="col-lg-4 col-sm-6 mb-5">
        <div class="card border-0">
          <a href="{{.Permalink}}">
            <img src="{{ .Params.image | absURL }}" alt="{{ .Title }}" class="card-img rounded-lg mb-4">
          </a>
          <div class="card-body p-0">
            <h3><a href="{{ .Permalink }}" class="post-title">{{ .Title }}</a></h3>
            <p class="card-text">{{ .Summary }}</p>
            {{ if and (now.Before (time .Params.report_publish_date)) (now.After (time .Params.survey_closing_date)) }}
              <a href="{{.Permalink}}" class="btn btn-primary btn-sm">Coming Soon</a>
            {{ else if (now.After (time .Params.report_publish_date)) }}
              <a href="{{.Permalink}}" class="btn btn-primary btn-sm">Read Research Report</a>
            {{ else }}
              <a href="{{.Permalink}}" class="btn btn-primary btn-sm">Take Survey</a>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
