<section class="section {{ with .Get "style" }}{{ . }}{{ end }}">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-5 mb-4 mb-md-0">
          <div class="col-md-7 order-1 order-md-2 mb-4 mb-md-3">
           <img src="{{ .Get "image" }}" class="img-fluid">
          </div>
        </div>
        <div class="col-md-7 ">
          <h3>{{ .Get "name" }}</h3>
          <h4>{{ .Get "title" }}</h4>
          <p>{{ .Inner }}</p>
        </div>
      </div>
    </div>
  </section>