<div class="col-md-4 col-sm-6 mb-4">
  <div class="feature-card bg-light text-center mb-0">
    <div class="h-150 d-flex align-items-center justify-content-center mb-0 company-logo-box">
      <img src="{{ .Get "image" }}" alt="{{ .Get "name" }}" title="{{ .Get "name" }}" class="mh-150">
      <div>{{ .Get "name" }}</div>
    </div>
    <div class="cite-icons mt-1 align-items-center justify-content-center mb-0">
      {{ if (not (eq (trim .Inner "\n ") "")) }}<a href="#" class="cite-link" data-link="{{ urlize (.Get "name")}}-cite"><i class="ti-align-right mb-0 mr-1"></i></a>{{ end }}
      {{ if .Get "video" }}<a href="{{ .Get "video" }}" target="_blank"><i class="ti-video-camera mb-0 mr-1 ml-1"></i></a>{{ end }}
      {{ if .Get "article" }}<a href="{{ .Get "article" }}" target="_blank"><i class="ti-book mb-0 ml-1"></i></a>{{ end }}
    </div>
    {{ if (not (eq (trim .Inner "\n ") "")) }}
      <div id="{{ urlize (.Get "name")}}-cite" class="cite-text">
      <p><cite>“{{ trim .Inner "\n " }}”</cite></p>
      {{ if .Get "author_name" }}<a href="{{ .Get "link" }}"><b>{{ .Get "author_name" }}</b>, {{ .Get "author_title" }}</a>{{ end }}
      </div>
    {{ end }}
  </div>
</div>
