<div class="newsletter-signup">
  <form class="signup-form" action="https://innersourcecommons.us1.list-manage.com/subscribe/post?u=0363fb06e6a59d48c6e260f1b&amp;id=97224b5ff2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
    <div class="form-group">
      <span class="signup-text p">If you want to hear the latest news, please enter </span>
      <input type="email" name="EMAIL" class="form-input" id="mce-EMAIL" aria-describedby="emailHelp" placeholder="your@email.com" required>
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0363fb06e6a59d48c6e260f1b_97224b5ff2" tabindex="-1" value=""></div>
      <button type="submit" name="subscribe" id="mc-embedded-subscribe">Subscribe!</button>
    </div>
  </form>
</div>
{{if ne (.Get "mode") "vertical-light" }}
<div class="mt-2">
  Read previous newsletters 
  <a target="_blank" href="https://us1.campaign-archive.com/home/?u=0363fb06e6a59d48c6e260f1b&id=97224b5ff2"> here</a>
</div>
{{ end }}
