<div class="mailing-box {{if eq (.Get "mode") "vertical-light" }}mailing-box-light{{ end }}">      
  {{if eq (.Get "mode") "vertical-light" }}<div class="h3 text-center">{{ T "join_mailing_list" }}</div>{{ end }}
    <form class="form-inline {{if eq (.Get "mode") "vertical-light" }}flex-column {{ end }}" action="https://innersourcecommons.us1.list-manage.com/subscribe/post?u=0363fb06e6a59d48c6e260f1b&amp;id=97224b5ff2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">

      <div class="form-group col-8 {{if eq (.Get "mode") "vertical-light" }}col-12 mb-2 {{ end }}">
        <input type="email" name="EMAIL" class="form-control w-100 email" id="mce-EMAIL" aria-describedby="emailHelp" placeholder='{{ T "enter_email"}}' required>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0363fb06e6a59d48c6e260f1b_97224b5ff2" tabindex="-1" value=""></div>
      </div>
      <input type="submit" value='{{ T "subscribe" }}' name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary my-auto col-4 ml-auto {{if eq (.Get "mode") "vertical-light" }}mailing-box-button-light btn-sm mx-auto col-7{{ end }}">
    </form>
</div>
{{if ne (.Get "mode") "vertical-light" }}
<div class="mt-2">
  Read previous newsletters 
  <a target="_blank" href="https://us1.campaign-archive.com/home/?u=0363fb06e6a59d48c6e260f1b&id=97224b5ff2"> here</a>
</div>
{{ end }}